@page
@model oopLan.Pages.CreateApplicationModel
@{
	ViewData["Title"] = "Create Application";
}
<div class="create-application-block">

	<form class="create-application" method="post">

		 <label>Название</label>
		<p><input class="input-text" type="text" maxlength="48" name="ApplicationName" required /></p>
        <label>Тип активности</label>
		<p><input class="input-text" list="activityList" type="text" name="ApplicationActivity" required /></p>
        <label>Описание</label>
		<p><textarea class="input-description" name="ApplicationDescription" required></textarea></p>
		<p>
			<button action="@Model.CreateNewApplication()" class="input-button search-button" type="submit">Создать</button>
		</p>
	</form>

	<datalist id="activityList">
		<option value="Программирование" />
		<option value="Экономика" />
		<option value="Математика" />
		<option value="Музыка" />
		<option value="Образ жизни" />
		<option value="Мода" />	
	</datalist>

</div>
