@page
@model oopLan.Pages.RegistrationModel
@{
	ViewData["Title"] = "Registration";
}
<div class="create-application-block">

	<form class="create-application" method="post">
		<label>Имя</label>
		<p><input class="input-text" type="text" maxlength="48" name="userName" autocomplete="off" required></p>
		<label>Email</label>
		<p><input class="input-text" type="email" name="userEmail" autocomplete="off" required /></p>
		
		<p>
			<button action="@Model.AddAccount()" class="input-button search-button" type="submit">Создать</button>
		</p>
	</form>




</div>